body {
	background-color: #ffff99;
    color: #000000;
    font-family: Lucida Sans Unicode;
    display: flex;
    flex-direction: row-reverse;
}
.welcome{
	width: fit-content;
    margin-left: 2rem;
}

.selections label {
	display: block;
}

.selections {
	width: 100%;
    text-align: center;
    box-sizing: border-box;
    margin-top: 1rem;
}

/*BUTTON DESIGN*/
.selections input {
	padding:8%;
	width: 65%;
	background-color:#fff;
	border:none;
	border-radius: 6%;
	font-size:200%;
	margin-bottom:8%;
}

/* BUTTON HOVER*/
.buttons:hover {
	background: rgb(95%,60%,48%)
}


.welcome header {
	position:relative;
	margin-top:150px;
	margin-left:50px;
	margin:0;
}

h1.header-text{
	font-size:3rem;
	margin:0;

}

h3.header-text{
	margin-bottom: 0;
	font-size:2rem;
}

div#img1 {
	width:100%;
}
img.image{
	width:70%;
}



