body {
	background-color: #ffff99;
	color: #000000;
	font-family: Lucida Sans Unicode;
	margin:0;
}

#header {
	margin:0;
	text-align: center;
	width: fit-content;
	padding:1%;
}

#arrow {
	position:absolute;
	left: 2.5%;
	margin:0;
	text-decoration:none;
	font-size: 180%;
	text-align: center;
}

#mainHeader {
	display: flex;
	justify-content: center;
	flex-direction: row-reverse;
	background-color: #fff;
	text-align:center;
}

img {
	padding:1%;
}

h1 {
	padding-left:3%;
	font-size: 150%;
}

#button1, #button2 {
	width: 75%;
	padding: 45% 0%;
	padding-bottom: 22%;
	background-color:#fff;
	border:none;
	border-radius: 6%;
	font-size:200%;
	margin-top: 0%;
	margin: 1%;
}


#form1 {
	float: left;
	width: 49%;
	text-align: right;
}

#form2 {
	float: right;
	width: 49%;
	text-align: left;
}

#button1 {
	background:url("./healthImages/leftHand1.jpg");
	background-size:cover;
}

#button2 {
	background:url("./healthImages/rightHand1.jpg");
	background-size:cover;
}

#button1:hover, #button2:hover {
	border: 5px	 #ffb6c1 solid;
}

#button1:hover {
	background:url("./healthImages/leftHandSelected.jpg");
	background-size:cover;
}

#button2:hover {
	background:url("./healthImages/rightHandSelected.jpg");
	background-size:cover;
}


