body {
	background-color: #ffff99;
    color: #000000;
    font-family: Lucida Sans Unicode;
    display: flex;
    flex-direction: row-reverse;
    min-width: 600px;
    justify-content: center;
    align-items: center;
    height: -webkit-fill-available;
}

.selections label {
	display: block;
}

.selections {
    min-width: 200px;
    text-align: center;
    box-sizing: border-box;
}

/*BUTTON DESIGN*/
.selections input {
	padding: 8%;
    width: 65%;
    background-color: #fff;
    border: none;
    border-radius: 6%;
    font-size: 1.5rem;
    margin-bottom: 8%;
}

/* BUTTON HOVER*/
.buttons:hover {
	background: #FFB6C1
}


.welcome {
    margin: 0;
    min-width: 300px;
}

.welcome img {
	width: 45%;
	margin-top: -5%;
	margin-left: 50%;
}


.welcome h3 {
	margin: 0;
    font-size: 150%;
    text-align: center;
}

.welcome h1 {
	font-size: 300%;
    margin: 0;
    padding: 0 5rem;
    word-wrap: break-word;
    line-height: 1;
    text-align: center;
    word-wrap: break-word;
}

#img1 {
	position: relative;
    width: 80%;
    float: right;
}



