<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Muscle Mate</title>
  <link rel="stylesheet"  type="text/css" href=../static/css/style3.css">
</head>
<body>
	<header id = mainHeader>
		<h3 id="header">Muscle Mate</h3>
		<img id = "image" src= "../static/healthImages/handHeart.png" alt="Muscle Mate Logo" width= 30px>
		<a id="arrow" href="secondpage.html"> &#8592 </a>
	</header>
  <div class="container">
    <section id="main">
    <h1>Follow<br>Me!</h1>
    <div> 
      <img src= "../static/healthImages/handDemo.png" alt="demo" class="image" align="left" id = "closedFist">
    </div>
  </section>
  </div>
  <div>
    <img src = "../static/healthImages/placeholder.png" alt="no video found" class="image" align ="right" id="video">
  </div>
</body>

<html>