<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Muscle Mate</title>
  <link rel="stylesheet"  type="text/css" href=../static/css/style3.css">
</head>
<body>
	<header id = mainHeader>
		<h3 id="header">Muscle Mate</h3>
		<img id = "image" src= "../static/healthImages/handHeart.png" alt="Muscle Mate Logo" width= 30px>
		<a id="arrow" href="secondpage.html"> &#8592 </a>
	</header>
  <div class="container">
    <section id="main">
    <h1>Follow<br>Me!</h1>
    <div> 
      <img src= "../static/healthImages/handDemo.png" alt="demo" class="image" align="left" id = "closedFist">
    </div>
  </section>
 </div id="video-container">
    <video id = "video-input" playsinline autoplay></video>
    <canvas id= "video-output"></canvas>
  <div >
  </div>
</body>
<script>
      let video = document.getElementById("video-input");
      navigator.mediaDevices.getUserMedia({ video: true, audio: false })
        .then(function(stream) {
            video.srcObject = stream;
            video.play();
        })
        .catch(function(err) {
            console.log("An error occurred! " + err);
        });

        let canvasFrame = document.getElementById("video-output"); // canvasFrame is the id of <canvas>
        let context = canvasFrame.getContext("2d");
        context.drawImage(video, 0,0, 640, 480);
        /*
        let src = new cv.Mat(height, width, cv.CV_8UC4);
        let dst = new cv.Mat(height, width, cv.CV_8UC1);
        const FPS = 30;
        function processVideo() {
            let begin = Date.now();
            context.drawImage(video, 0, 0, width, height);
            src.data.set(context.getImageData(0, 0, width, height).data);
            cv.cvtColor(src, dst, cv.COLOR_RGBA2GRAY);
            cv.imshow("canvasOutput", dst); // canvasOutput is the id of another <canvas>;
            // schedule next one.
            let delay = 1000/FPS - (Date.now() - begin);
            setTimeout(processVideo, delay);
        }
        // schedule first one.
        setTimeout(processVideo, 0);
*/
</script>
<html>